# General libraries (Remove built-in Python modules)
pandas

# LangChain libraries
langchain-anthropic
langchain
langchain-community
langchain-core
langgraph

# Environment variable management
python-dotenv

# Streamlit for UI
streamlit

# Anthropic API
anthropic
